<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>TrainDCC</title>
    <link href="/jqui/jquery-ui.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
{{{body}}}
    {{#each scripts}}
    <script src="js/{{this}}"></script>
    {{/each}}
  </body>
</html>

