<div class="container">

  <ul id='menu' class='nav fancy'>
    <li>
      <div id='loco-sel'>Locomotives</div>
      <ul>
        {{#each locos}}
        <li id="S{{@index}}">
          <div class="fancy">{{name}}</div>
        </li>
        {{/each}}
      </ul>
    </li>
    <li>
      <div>Window</div>
      <ul>
        <li id="W_Throttle">
          <div class="fancy">Throttle</div>
        </li>
        <li id="W_Logs">
          <div class="fancy">Logs</div>
        </li>
      </ul>
    </li>
    <li>
      <div>Emergency</div>
      <ul>
        <li id="T_Reset">
          <div class="danger">Reset</div>
        </li>
        <li id="T_Reinit">
          <div class="fancy">Reinit</div>
        </li>
      </ul>
    </li>
  </ul>

  <table width="100%">
    <tr>
      <td style="vertical-align: top; width: 14em;">
        <div id="loco-nav">
          <ul>
            <li id="SCN"><a href="#SCT">play</a></li>
            {{#each locos}}
            <li class="throttle-nav" id="L{{@index}}"><a href="#T{{@index}}">{{name}}</a></li>
            {{/each}}
          </ul>
          <div id="SCT">
            <h4>Scénarios</h4>
            {{#each scenarios}}
            <button style="width:100%;" data-name="{{this}}" class="scenario ui-button ui-widget regular-button">{{this}}</button>
            {{/each}}
          </div>
          {{#each locos}}
          <div class="throttle-div" id="T{{@index}}" data-dcc="{{address}}">
            <table class="throttle-table">
              <tr>
                <td colspan="2"><img style="width: 100%;" src="/image?id={{address}}"> </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width:100%;">
                    <tr>
                      <td style="width:20%;"><span class="address"></span></td>
                      <td style="width:80%;">
                        <input id="M{{@index}}" class="form-control large-text speed-meter" style="width:100%;" value="{{speed}}"
                          type="text" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button id="D{{@index}}" class="dir ui-button ui-widget regular-button colored">&#9654;</button>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button style="width:100%;" class="fast ui-button ui-widget regular-button">Fast</button>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button style="width:100%;" class="medium ui-button ui-widget regular-button">Medium</button>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button style="width:100%;" class="slow ui-button ui-widget regular-button">Slow</button>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button style="width:100%;" class="stop ui-button ui-widget regular-button">Stop</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="speed-down ui-button ui-widget regular-button">&#9660;</button>
                </td>
                <td>
                  <button class="speed-up ui-button ui-widget regular-button">&#9650;</button>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div id="SL{{@index}}" class="speed-slider"> </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button class="f0 ui-button ui-widget small-button colored">FL</button>
                  &nbsp;
                  <button class="f1 ui-button ui-widget small-button">F1</button>
                  &nbsp;
                  <button class="f2 ui-button ui-widget small-button">F2</button>
                </td>
              </tr>
            </table>
          </div>
          {{/each}}
        </div>
        <br /><br />
        <button style="width:100%;" class="fast ui-button ui-widget regular-button danger">Emergency</button>
      </td>
      <td>
        <canvas id="tracks_cv" width={{width}} height={{height}} style="border:1px solid #000;"></canvas>
      </td>
    </tr>
  </table>
</div>

<div id='dialog-warning' title="Warning">
  <p class="message"></p>
</div>

<div>
  <div id='dialog-locoloc' title="Locomotives">
    <table class='table'>
      <thead>
        <tr>
          <th colspan="2">Available locomotives</th>
        </tr>
      </thead>
      <tbody>
        {{#each locos}}
        <tr>
          <td id="DL{{@index}}" class="loco-id">{{name}}<br />{{address}}</td>
          <td class="loco-img"><img class="thumbnail" src="/image?id={{address}}"> </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <table class='table'>
      <tr>
        <td><button id="locoloc-invert-dir" class="ui-button ui-widget regular-button">Invert</button></td>
        <td><button id="locoloc-cancel" class="ui-button ui-widget regular-button">Cancel</button></td>
        <td><button id="locoloc-select" class="ui-button ui-widget regular-button colored">Select</button></td>
      </tr>
    </table>
  </div>