.large-text {
  text-align: right;
  color: #07F;
  font-size: 2em;
  background-color: #BBB;
}

.thumbnail {
  width: 200px;
  height: 94px;
}

.fancy {
  color: #fff;
  background-color: #000;
}

.fancy-nav {
  width: 100%;
}

.ui-slider {
  width: 94%;
  height: 0.1em;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ui-slider .ui-slider-handle {
  width: 1em;
  height: 1em;
  z-index: 2;
  cursor: handle;
  position: absolute;
}

.regular-button {
  border-radius: 0.3em;
  font-size: 2em;
  text-align: center;
  width: 100%;
  padding: 2px;
}

.small-button {
  font-size: 1.2em;
  text-align: center;
  padding: 1px;
}

.danger {
  color: #fff;
  background-color: #d00;
}

.danger:focus, .danger:hover {
  background: #b00;
  color: #fff;
}

.danger:disabled {
  color: #800;
  background: #FAA;
}

.danger:active {
  background: #F20;
  color: #FFF;
}

.colored {
  background: #008;
  color: #FFF;
}

.colored:focus, .colored:hover {
  background: #009;
  color: #fff;
}

.colored:disabled {
  color: #008;
  background: #88F;
}

.colored:active {
  background: #02F;
  color: #FFF;
}

.throttle {
    width:100%;
    height: 100%;
    background-color:#FFF;
}

.throttle-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.xbutton{
    background-color: #000;
    font-size: 0.70em;
    padding: 0px;
    color: #FFF;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}

.container > .ui-menu {
    width: 100%;
}

.container > .ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.container > .ui-menu > .ui-menu-item {
    display: inline-block;
    margin: 0;
    padding: 3px;
    width: auto;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 1px;
  font-size: 0.8em;
}

.ui-tabs .ui-tabs-nav li {
  margin-right: 0.07em;
}

.ui-tabs .ui-tabs-panel {
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.loco-name {
  background-color: black;
  color: white;
  text-align: center;
}

.loco-id {
  text-align: center;
  font-size: 90%;
  background-color: white;
  width: 10em;
}

.selected {
  background-color: #007FFF;
  color: white;
}

.loco-img {
  padding-bottom: 5px;
}

.log {
  font-family: Helvetica Neue,Arial,sans-serif;
  font-size: 0.8em;
}